<div>
    <img class="ills2" src="../assets/Illustration2.png" alt="il2">

    <!-- <div class="main">
        <div class="container"> -->
    <router-outlet></router-outlet>
    <!-- </div>
    </div> -->

    <!-- <img class="ills3" src="../assets/Illustration3.png" alt="il2">

    <div class="illimg">
        <img class="ills1" src="../assets/Illustration1.png" alt="il2">
        <div>
            <div>
                <img class="ills5" src="../assets/Illustration5.png" alt="il2">
            </div>
            <img class="ills4" src="../assets/Illustration4.png" alt="il2">
        </div>
    </div> -->
</div>
<!-- 
<ul>
    <li> Emp Name | Emp code</li>
    <li *ngFor="let item of collection | paginate:{itemsPerPage: 5,
        currentPage:p}">{{item.name}} | {{item.code}}</li>
</ul>
<pagination-controls (pageChange)="p=$event"></pagination-controls> -->