// .main {
//     position: relative;
// }
// .container {
//     margin: 0 0 0 250px;
// }
.ills2 {
    margin-top: -89px;
    width: 340px;
    margin-left: 74%;
    position: absolute;
}

// .illimg {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 110px;
//     position: absolute;
// }
// .ills1 {
//     width: 240px;
// }
// .ills4 {
//     width: 140px;
// }
// .ills3 {
//     width: 160px;
//     margin-left: 110px;
//     position: absolute;
// }
// .ills5 {}